---
import { Image } from 'astro:assets';
import styles from './Card.module.scss';

interface Props {
	title: string;
	description: string;
	thumb: string;
	href: string;
	categories: [];
}
const { href, title, description, thumb, categories } = Astro.props;
---
  
  <li class="link-card">
	<a href={`/posts/${href}`}>
		<article class={styles.articleCard}>
			<header class={styles.header}>
				<Image 
					class={styles.header__thumb} 
					src={thumb} 
					alt="Group of people playing pickleball" 
					inferSize
				>
			</header>
			<section class={styles.articleCard__content}>
				<h2 class={styles.articleCard__title}>{title}</h2>
				<p class={styles.articleCard__description}>{description}</p>
				<footer class={styles.articleCard__tags}>
					{categories.map((category) => (
						<a href="#" class={styles.tag}>{category}</a>
					))}
				</footer>
			</section>
		</article>
	</a>
  </li>