---
interface Props {
	title: string;
	description: string;
	thumb?: string;
	href: string;
	categories: [];
}
  
const { href, title, description, thumb, categories } = Astro.props;
---
  
  <li class="link-card">
	<a href={`/posts/${href}`}>
		<article class="article-card">
			<header>
				<img src={thumb} alt="Group of people playing pickleball" class="article-card__image">
			</header>
			<section class="article-card__content">
				<h2 class="article-card__title">{title}</h2>
				<p class="article-card__description">{description}</p>
				<footer class="article-card__tags">
					{categories.map((category) => (
						<a href="#" class="tag tag--primary">{category}</a>
					))}
				</footer>
			</section>
		</article>
	</a>
  </li>

  <article class="article-card">
	<header>
	  <img src="path/to/image.jpg" alt="Group of people playing pickleball" class="article-card__image">
	</header>
	<section class="article-card__content">
	  <h2 class="article-card__title">Pickleball for beginners: Getting started</h2>
	  <p class="article-card__description">If you are a beginner pickleball player, here are some tips on the best ways to get started.</p>
	  <footer class="article-card__tags">
		<a href="link/to/pickleball-for-beginners" class="tag tag--primary">pickleball for beginners</a>
		<a href="link/to/video" class="tag tag--secondary">video</a>
	  </footer>
	</section>
  </article>
  